# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.

# emacs
alias ed='emacs --daemon'
alias e='emacsclient -c --no-wait'

#firefox
if [ -f ~/Downloads/firefox/firefox ]
then
    echo "Found firefox"
    alias firefox='~/Downloads/firefox/firefox'
fi

# julia
if [ -f ~/Downloads/julia/bin/julia ]
then
    echo "Found julia"
    alias julia='~/Downloads/julia/bin/julia'
fi

# zsh
alias zshconfig="emacsclient -t ~/.zshrc"
alias reloadzsh="source ~/.zshrc"
alias ohmyzsh="emacsclient -t ~/.oh-my-zsh"

# redshift
if [ -f /usr/bin/redshfit ]
then
    alias day="redshift -O 6500"
    alias sunrise="redshift -O 3200"
    alias night="redshift -O 2300"
fi

# ls and the like
alias lash="ls -lash"
alias sz="du -sh * | sort -h"
alias ds="du -sh ."

# checksums
alias sha1list="find . -type f -exec sha1sum {} >> sha1sums \;"

# projects
alias mrg="cd ~/Workspace/mrg"
alias rpl="cd ~/Workspace/rpl"
alias perls="cd ~/Workspace/Perl"
alias hauv="cd ~/Workspace/rpl/project-hauv"
alias mk="make clean && make"

# miniconda
# alias miniconda='noglob export PATH=$HOME/miniconda2/bin:$PATH'

# LCM mute/unmute
alias lcm-mute='noglob export LCM_DEFAULT_URL=udpm://239.255.76.67:7667?ttl=0'
alias lcm-unmute='noglob export LCM_DEFAULT_URL=udpm://239.255.76.67:7667?ttl=1'

if [ "blackfish"==$HOST ]
then
    # w530 dock
    alias dock="xrandr --output LVDS-1 --mode 1920x1080 --pos 0x0 --rotate normal --output DP-3 --mode 1920x1080 --pos 1920x0 --rotate normal --output DP-2 --mode 1920x1080 --pos 3840x0 --rotate left --output DP-1 --off --output VGA-1 --off"
    # home desk, 2 screens
    alias home2="xrandr --output LVDS-1 --mode 1920x1080 --pos 0x0 --rotate normal --output DP-3 --off --output DP-2 --off --output DP-1 --mode 1920x1080 --pos 1920x0 --rotate normal --output VGA-1 --mode 1920x1080 --pos 0x0 --rotate normal"
    # home desk, 3 screens
    alias home3="xrandr --output LVDS-1 --mode 1920x1080 --pos 3840x0 --rotate normal --output DP-3 --off --output DP-2 --off --output DP-1 --mode 1920x1080 --pos 1920x0 --rotate normal --output VGA-1 --mode 1920x1080 --pos 0x0 --rotate normal"
    # disconnect external monitors
    alias undock="xrandr --output DP-1 --off --output DP-2 --off --output DP-3 --off --output VGA-1 --off"
fi

# pcl
alias pv="pcl_viewer"

# misc
alias probe='ps aux | grep -i'
alias have='dpkg -l | grep -i'
alias open="xdg-open"
alias rm="trash" 
alias icanhas="sudo apt install --no-install-recommends"

# echo "Aliases set!"
