'welcome':
  'showOnStartup': false
'core':
  'themes': [
    'atom-dark-ui'
    'monokai'
  ]
'editor':
  'fontSize': 15
'exception-reporting':
  'userId': '6335864a-83b3-b144-2b7c-0f6901e95c95'
'metrics':
  'userId': '0201ca15-1212-4109-b674-4dd05413b10f'
