'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
#'alt-left': 'window:focus-pane-on-left'
#'alt-right': 'window:focus-pane-on-right'
#'window:focus-pane-above'
#'window:focus-pane-below'
